.App {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.card{
    font-size: 25px;
    background-color:blanche;
    border-radius: 10px;
    box-shadow: 6px 6px 0px rgba(0, 0, 0);
   

}
